.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-group-1 {
  width: 564px;
  min-height: 465px;
  height: auto;
  margin: 58px 576px 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 60px;
}

.u-section-1 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-1 .u-text-2 {
  width: 99px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  width: 560px;
  height: 420px;
  grid-gap: 10px;
  margin: -442px 10px 82px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-back-image-1 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 0% 50%;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-4 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-back-image-6 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 596px;
    margin-right: 376px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-1 .u-group-1 {
    min-height: 449px;
    margin-top: 30px;
    margin-right: 65px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 4px 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: -9px;
  }

  .u-section-1 .u-gallery-1 {
    width: 360px;
    height: 245px;
    margin-top: -725px;
    margin-right: auto;
    margin-bottom: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-group-1 {
    min-height: 370px;
    margin-top: 285px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-text-1 {
    width: 240px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -639px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

.u-section-2 .u-gallery-1 {
  width: 560px;
  height: 420px;
  grid-gap: 10px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-group-1 {
  width: 564px;
  min-height: 420px;
  height: auto;
  margin: -416px auto 56px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  width: 99px;
  font-weight: 700;
  margin: 20px auto 0 60px;
}

.u-section-2 .u-text-3 {
  width: 444px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-gallery-1 {
    width: 360px;
    height: 245px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin: 60px 60px 30px auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: -9px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 25px;
    margin-bottom: 14px;
    min-height: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-gallery-1 {
  width: 560px;
  height: 420px;
  grid-gap: 10px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-back-image-1 {
  object-position: 26.58% 50%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-back-image-3 {
  object-position: 26.58% 50%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-group-1 {
  width: 564px;
  min-height: 420px;
  height: auto;
  margin: -420px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 60px;
}

.u-section-3 .u-text-1 {
  margin: 9px 0 0;
}

.u-section-3 .u-text-2 {
  width: 99px;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-3 .u-gallery-1 {
    width: 360px;
    height: 245px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 43px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 26px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 368px;
    margin-top: 28px;
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 31px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 713px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 36px auto 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 213px 156px 0 auto;
}

.u-section-4 .u-gallery-1 {
  height: 553px;
  width: 271px;
  margin: -229px auto 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 49px;
  height: 49px;
  top: 175px;
  padding: 0;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 163px;
  top: 175px;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: -315px 163px 313px 745px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 232px;
    margin-right: 63px;
    margin-left: 645px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 61px;
  }

  .u-section-4 .u-gallery-1 {
    margin-left: 89px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 69px;
    margin-left: 419px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin: 20px 0 60px 308px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 137px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -144px;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 464px;
    width: 228px;
    margin-top: 119px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 26px;
    margin-left: 0;
    margin-bottom: 27px;
  }
}