.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-group-1 {
  width: 564px;
  min-height: 465px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 60px;
}

.u-section-1 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-1 .u-text-2 {
  width: 99px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  width: 560px;
  height: 420px;
  grid-gap: 10px;
  margin: -442px 10px 82px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-back-image-1 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 0% 50%;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-4 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-back-image-6 {
  object-position: 26.58% 50%;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 538px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-group-1 {
    min-height: 442px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 360px;
    height: 245px;
    margin-top: -748px;
    margin-right: auto;
    margin-bottom: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-group-1 {
    min-height: 411px;
    margin-top: 334px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 240px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -685px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

.u-section-2 .u-gallery-1 {
  width: 560px;
  height: 420px;
  grid-gap: 10px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-group-1 {
  width: 564px;
  min-height: 420px;
  height: auto;
  margin: -418px auto 58px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  width: 99px;
  font-weight: 700;
  margin: 20px auto 0 60px;
}

.u-section-2 .u-text-3 {
  width: 444px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 60px;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  margin: 13px auto 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-gallery-1 {
    width: 360px;
    height: 245px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 174px;
    margin-top: 14px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 31px;
    margin-bottom: 0;
    min-height: 371px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -74px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 540px;
}

.u-section-3 .u-gallery-1 {
  width: 560px;
  height: 420px;
  grid-gap: 10px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-back-image-1 {
  object-position: 26.58% 50%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-back-image-3 {
  object-position: 26.58% 50%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-group-1 {
  width: 564px;
  min-height: 420px;
  height: auto;
  margin: -420px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  width: 99px;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.75rem;
  margin: 14px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-gallery-1 {
    width: 360px;
    height: 245px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 43px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 394px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 67px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -73px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-text-1 {
  margin: 80px auto 0 414px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 13px);
  grid-template-columns: repeat(2, calc(50% - 13px));
  min-height: 348px;
  grid-gap: 26px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 17px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 2px 0 0 58px;
}

.u-section-4 .u-icon-1 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -26px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0 0 0 57px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 17px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 2px 0 0 58px;
}

.u-section-4 .u-icon-2 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -26px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 0 0 57px;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 17px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 2px 0 0 58px;
}

.u-section-4 .u-icon-3 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -26px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 0 0 57px;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 17px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: 2px 0 0 58px;
}

.u-section-4 .u-icon-4 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -26px auto 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 0 0 57px;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 68px auto 0;
  padding: 17px 78px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-4 .u-text-10 {
  margin: 0 auto;
}

.u-section-4 .u-gallery-1 {
  height: 400px;
  width: 193px;
  margin: 22px auto 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 49px;
  height: 49px;
  top: 175px;
  padding: 0;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 163px;
  top: 175px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 342px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 470px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 334px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 61px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-4 {
    margin-top: -85px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 469px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1328px;
  }

  .u-section-4 .u-text-1 {
    width: 307px;
    margin-top: 60px;
    margin-left: 122px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 348px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 54px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 33px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-4 .u-text-10 {
    font-weight: 700;
    width: 250px;
  }
}