.u-section-1 .u-sheet-1 {
  min-height: 1721px;
}

.u-section-1 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.4;
  margin: 21px 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2406px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 39px;
  }
}